/* Marquee */
.marquee-one {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.marquee-one .marquee-content {
    display: flex;
    align-items: center;
    gap: 100px;
    animation: marquee 25s linear infinite;
}

.marquee-one .marquee-content img {
    height: 40px;
    width: auto;
}

.marquee-one .marquee-content p {
    font-size: 20px;
    margin: 0;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
